<div class="container-fluid container-edit">
	<%= render partial: 'form', locals: {task: @task} %>
	<% if flash[:message] %>
	<span class="text-success"><%= flash[:message] %></span>
	<% end %>

	<%= link_to "Back to project", project_path(@task.project_id) %>
</div>